/* color scheme from Darkest to lightest:
001514 Dark Jungle Green
1E2D2F Charleston Green
7D4E57 Tuscan Red
F39C6B Atomic Tangerine
BAD1CD Opal */
body {
    background-color: #001514;
    text-align: center;
}
#title {
    color: #BAD1CD;
}
button {
    margin: 0 auto;
}
#container {
    background-color: #1E2D2F;
    margin: 2vh auto;
    width: 40vw;
    height: 40vw;
    display: grid;
}
.square {
    background-color: #7D4E57;
    margin: 1px;
}
#footer {
    color: #BAD1CD;
}