/* color scheme from Darkest to lightest:
001514 Dark Jungle Green
1E2D2F Charleston Green
7D4E57 Tuscan Red
F39C6B Atomic Tangerine
BAD1CD Opal */

body {
    background-color: #001514;
}

#title {
    text-align: center;
    color: #BAD1CD;
}

#footer {
    text-align: center;
    color: #BAD1CD;
}

#container {
    padding: 10px;
    background-color: #1E2D2F;
    display: flex;
    flex-flow: column;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
}

#container div {
    display: flex;
    flex-flow: row;
    background-color: #1E2D2F;
}
#container div div {
    width: 4vh;
    height: 4vh;
    margin: 3px;
    background-color: #7D4E57;
}